[Unit]
Description = Update LetsEncrypt certificates

[Service]
Type = oneshot
ExecStart = /var/lib/letsencrypt/renew-certificates.sh

[Install]
WantedBy = multi-user.target
